  .home .vector-8 {
    width: 14.4px;
    height: 14.4px;
  }

  .home .container-1 {
    border-radius: 5px;
    margin-bottom: 3.3px;
    display: flex;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
  }

  .home .container-18 {
    margin: 0 22.5px 9.6px 22.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 210.7px;
    box-sizing: border-box;
  }

  .home .vector-24 {
    width: 11.3px;
    height: 11.6px;
  }

  .home .svg-14 {
    margin: 2.2px 18.5px 2.2px 0;
    display: flex;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }

  .home .container-13 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #F0EFEB;
  }

  .home .container-10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .home .vector-25 {
    width: 5.7px;
    height: 10.2px;
  }

  .home .svg-15 {
    margin: 3.2px 0 2.6px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    /* align-self: flex-end; */
  }

  .home .link-4 {
    border-radius: 8px;
    background: #1A1918;
    margin-bottom: 16.5px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 16px 23px 16px 18.2px;
    width: 100%;
    box-sizing: border-box;
  }

  .home .vector {
    width: 14.7px;
    height: 12.7px;
  }


  .home .container-20 {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
  }

  .home .vector-1 {
    width: 5.7px;
    height: 10.2px;
    padding-right: 30px;
  }


  .home .horizontal-border {
    border-bottom: 0.7px solid #61605A;
    margin-bottom: 32.5px;
    display: flex;
    flex-direction: column;
    padding: 16px 8px 22.8px 8px;
    width: 259.3px;
    box-sizing: border-box;
  }

  .home .vector-2 {
    width: 9px;
    height: 12.2px;
  }

  .home .svg-2 {
    margin: 1.7px 19.7px 2.1px 0;
    display: flex;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }

  .home .container-1 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #F0EFEB;
  }

  .home .container-16 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .home .vector-3 {
    width: 5.7px;
    height: 10.2px;
  }

  .home .svg-3 {
    margin: 2.7px 0 3.1px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }

  .home .link-1 {
    border-radius: 8px;
    margin: 0 2.2px 35.5px 2.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
  }

  .home .vector-4 {
    width: 13.3px;
    height: 13.3px;
  }

  .home .svg-4 {
    margin: 1.1px 17.5px 1.6px 0;
    display: flex;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }

  .home .container-2 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #F0EFEB;
  }

  .home .container-11 {
    margin: 3.5px 0 5px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .home .container-3 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: #A8A69D;
  }

  .home .border {
    border-radius: 5px;
    border: 1px solid #42413D;
    display: flex;
    padding: 4.5px 8.2px 5px 9.8px;
    box-sizing: border-box;
  }

  .home .container-21 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225.9px;
    box-sizing: border-box;
  }

  .home .container {
    margin: 0 8px 348.5px 25.3px;
    display: flex;
    flex-direction: column;
    width: 259.3px;
    box-sizing: border-box;
  }

  .home .vector-5 {
    width: 20px;
    height: 20px;
  }

  .home .svg-6 {
    margin-right: 8px;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }

  .home .germeuny {
    margin: 3px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #A8A69D;
  }

  .home .container-15 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .home .vector-6 {
    width: 5.7px;
    height: 10.2px;
  }

  .home .svg-7 {
    margin: 5.2px 0 4.6px 0;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }

  .home .container-13 {
    /* margin: 0 23px 0 16px; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    width: 100%;
    box-sizing: border-box;
  }

  .home .container-4 {
    margin-right: 6.2px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #1A1918;
    display: flex;
    flex-direction: column;
  }

  .home .vector-9 {
    width: 8.1px;
    height: 8.1px;
  }

  .home .button-svg {
    margin: 3px 0 2.9px 0;
    display: flex;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }

  .home .background-1 {
    border-radius: 8px;
    background: #DBDAD5;
    margin-bottom: 2.9px;
    display: flex;
    flex-direction: row;
    padding: 13.9px 13.9px 12.1px 16.5px;
    width: fit-content;
    box-sizing: border-box;
  }

  .home .ai-assign-icon-png {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('../../public/assets/images/AiAssignIconPng.png');
    width: 30px;
    height: 30px;
  }

  .home .background {
    border-radius: 1000px;
    background: #2E2D2B;
    margin: 5.1px 6.4px 0 0;
    display: flex;
    padding: 15px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
  }

  .home .vector-10 {
    width: 17.3px;
    height: 13px;
  }

  .home .svg-8 {
    margin-bottom: 19.3px;
    display: flex;
    width: 19px;
    height: 13px;
    box-sizing: border-box;
  }

  .home .vector-7 {
    width: 10.2px;
    height: 5.7px;
  }

  .home .svg-5 {
    margin: 0 3.6px 0 3.5px;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }

  .home .container-8 {
    margin-bottom: 27.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.3px;
    height: fit-content;
    box-sizing: border-box;
  }

  .home .container-17 {
    margin: 0 18.8px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 83.7px;
    box-sizing: border-box;
  }

  .home .button-1 {
    position: relative;
    margin: 34.3px 90.3px 0 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .home .container-11 {
    margin-bottom: 10.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;
    color: #F0EFEB;
  }

  .home .container-12 {
    margin: 0 10.9px 0 10px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #39B4F9;
  }

  .home .paragraph {
    margin-bottom: 80.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .home .container-9 {
    margin-bottom: 59.9px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }

  .home .container-6 {
    margin: 0 18.4px 18px 18.4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #F0EFEB;
  }

  .home .container-7 {
    margin-bottom: 26.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
  }

  .home .vector-17 {
    width: 37.2px;
    height: 37.2px;
  }

  .home .container-8 {
    margin-bottom: 25.9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
  }

  .home .svg-10 {
    opacity: 0.3;
    align-self: flex-start;
    width: 50px;
    height: 50px;
  }

  .home .background-6 {
    border-radius: 20px;
    background: #5AB885;
    display: flex;
    flex-direction: column;
    padding: 16.1px 0 4px 16px;
    width: 180px;
    box-sizing: border-box;
  }

  .home .container-9 {
    margin-bottom: 37.9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
  }

  .home .svg-11 {
    opacity: 0.3;
    align-self: flex-start;
    width: 50px;
    height: 50px;
  }

  .home .background-7 {
    border-radius: 20px;
    background: #B6576E;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 3px 16px;
    width: 180px;
    box-sizing: border-box;
  }

  .home .container-10 {
    margin-bottom: 36.9px;
    display: flex;
    /* align-self: flex-start; */
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
  }

  .home .vector-18 {
    width: 40px;
    height: 40px;
  }

  .home .svg-12 {
    opacity: 0.3;
    display: flex;
    align-self: flex-start;
    padding: 3.4px 5px 6.6px 5px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .home .background-8 {
    border-radius: 20px;
    background: #4E8AAC;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 4px 16px;
    width: 179px;
    box-sizing: border-box;
  }

  .home .container-22 {
    margin-left: 18.4px;
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    width: fit-content;
    box-sizing: border-box;
  }

  .home .container-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .home .container-5 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #85837D;
  }

  .home .textarea {
    margin-bottom: 8.5px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
  }

  .home .vector-11 {
    width: 11.2px;
    height: 16px;
  }

  .home .container-2 {
    margin: 5.9px 0 6.1px 0;
    display: flex;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
  }

  .home .pro {
    margin: 7px 12.1px 7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13.9px;
    line-height: 1.008;
    color: #39B4F9;
  }

  .home .background-shadow {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #07CCF7;
    width: 20px;
    height: 20px;
  }

  .home .background-4 {
    border-radius: 50px;
    background: #241536;
    display: flex;
    padding: 4px;
    width: 54px;
    height: 28px;
    box-sizing: border-box;
  }

  .home .container-3 {
    margin-right: 8px;
    display: flex;
    width: 54px;
    height: 28px;
    box-sizing: border-box;
  }

  /* 채팅 전송 버튼 안의 화살표 */
  .home .vector-13 {
    width: 100%;
    height: 100%;
  }

  /* 채팅 전송 버튼*/
  .home .button {
    border-radius: 16px;
    background: #F0EFEB;
    display: flex;
    padding: 8.9px 7.6px 9px 7.6px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
  }


  .home .container-19 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .home .container-12 {
    margin-left: 8.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 599.8px;
    box-sizing: border-box;
  }

  .home .background-3 {
    border-radius: 34px;
    background: #2E2D2B;
    display: flex;
    /* flex-direction: column; */
    padding: 17px 19.4px 17.5px 19.2px;
    box-sizing: border-box;
    justify-content: center;
  }

  .home .background-2 {
    border-radius: 30px;
    background: #2E2D2B;
    position: absolute;
    top: 82.3px;
    right: 0px;
    display: flex;
    padding: 1.5px 1.5px 1.5px 1.4px;
    box-sizing: border-box;
  }

  .home .container-5 {
    position: relative;
    margin: 0 34px 14.1px 0;
    display: flex;
    width: 100%;
    padding-right: 0.4px;
    box-sizing: border-box;
    background-color: transparent;
    border-color: transparent;
  }

  .home .vertical-divider {
    background: #42413D;
    margin: 4px 0;
    width: 1px;
    height: 14px;
  }

  .home .link-2 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: #61605A;
  }

  .home .link-3 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: #61605A;
  }

  .home .background-9 {
    background: #1A1918;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20.2px 0;
    width: 1136.4px;
    box-sizing: border-box;
  }

  .home .container-4 {
    margin: 215.3px 0 0px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .home {
    background: linear-gradient(#1A1918, #1A1918), linear-gradient(#FFFFFF, #FFFFFF);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  textarea {
    position: relative;
    margin: 0 34px 14.1px 0;
    display: flex;
    padding-right: 0.4px;
    box-sizing: border-box;
    background-color: none;
    border-color: none;
    outline: none;
    resize: none;
  }

  .home .nav-bar {
    border-right: 0.7px solid #61605A;
    background: #2E2D2B;
    display: flex;
    flex-direction: column;
    padding: 21.7px 0px 26px 0;
    width: 260px;
    box-sizing: border-box;
  }

  .home .nav-bar .link {
    border-radius: 8px;
    margin: 0 16.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    box-sizing: border-box;
  }

  .home .nav-bar .link-icon-div {
    margin: 1.5px 16.8px 1.8px 0;
    display: flex;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }

  .home .nav-bar .link-content {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #F0EFEB;
  }

  .home .nav-bar .link-right {
    margin: 2.7px 0 3.1px 0;
    /* display: flex; */
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }


  .home .container-7 {
    margin-top: 0.7px;
    width: 56px;
    height: 17px;
  }

  .home .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  .home .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home .filter-container .filter-1 {
    border-radius: 20px;
    background: #6476D3;
    display: flex;
    flex-direction: column;
    padding: 16.5px 0 3px 16px;
    width: 180px;
    box-sizing: border-box;
  }

  .home .filter-container .filter-des-1 {
    /* margin-top: 0.7px; */
    width: 56px;
    height: 17px;
  }

  .home .filter-icon-1 {
    opacity: 0.3;
    /* display: flex; */
    /* align-self: flex-start; */
    padding: 5.7px 5.8px 7.1px 7px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .home .chat-container {
    height: 80%;
    width: 60%;
    /* background-color: white; */
    background: linear-gradient(#1A1918, #1A1918), linear-gradient(#FFFFFF, #FFFFFF);
    overflow-y: auto;
  }